
.button {
    padding: 12px 26px;

    border: none;
    border-radius: 24px;
    
    cursor: pointer;
    
    font-size: 14px;
    
    background-color: var(--color-primary);
    color: var(--color-white);
}

.button:disabled {
    cursor: default;
    opacity: 0.4;
}

.small {
    padding: 8px 26px;
}

.transparent {
    background: transparent;
    color: inherit;
}

.shadow {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
}
