@import url('https://fonts.cdnfonts.com/css/roboto');

:root {
  --border-radius: 12px;
  --gutter: 32px;
  --font-family: 'Roboto', sans-serif;

  --tablet-width: 768px;
  --mobile-width: 320px;

  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-text: #5D6670;

  --color-primary: #FBAB34;
  --color-primary-900: #472C04;
  --color-primary-800: #7A4E0C;
  --color-primary-700: #AD721A;
  --color-primary-600: #E09422;
  --color-primary-400: #FFB94F;
  --color-primary-300: #FFCD82;
  --color-primary-200: #FFE1B5;
  --color-primary-100: #FFF6E8;

  --color-secundary: #8C8A97;
  --color-secundary-900: #33303E;
  --color-secundary-800: #4E4B59;
  --color-secundary-700: #5F5C6B;
  --color-secundary-600: #716F7A;
  --color-secundary-400: #ACABB7;
  --color-secundary-300: #E0DEEA;
  --color-secundary-200: #F4F3F8;
  --color-secundary-100: #F6F6F6;

  --color-tertiary: #1BD171;
  --color-tertiary-900: #07381E;
  --color-tertiary-800: #0E6B3A;
  --color-tertiary-700: #149E55;
  --color-tertiary-600: #18B863;
  --color-tertiary-400: #8DE8B8;
  --color-tertiary-300: #A4EDC6;
  --color-tertiary-200: #D1F6E3;
  --color-tertiary-100: #E8FAF1;

  --color-quartenary: #EC3237;
  --color-quartenary-900: #3B0C0E;
  --color-quartenary-800: #6E171A;
  --color-quartenary-700: #A12226;
  --color-quartenary-600: #D42D31;
  --color-quartenary-400: #FA7D80;
  --color-quartenary-300: #FF9497;
  --color-quartenary-200: #FFCFD0;
  --color-quartenary-100: #FFF2F3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #5D6670;

    --color-primary: #FBAB34;
    --color-primary-900: #472C04;
    --color-primary-800: #7A4E0C;
    --color-primary-700: #AD721A;
    --color-primary-600: #E09422;
    --color-primary-400: #FFB94F;
    --color-primary-300: #FFCD82;
    --color-primary-200: #FFE1B5;
    --color-primary-100: #FFF6E8;
  
    --color-secundary: #8C8A97;
    --color-secundary-900: #33303E;
    --color-secundary-800: #4E4B59;
    --color-secundary-700: #5F5C6B;
    --color-secundary-600: #716F7A;
    --color-secundary-400: #ACABB7;
    --color-secundary-300: #E0DEEA;
    --color-secundary-200: #F4F3F8;
    --color-secundary-100: #F6F6F6;
  
    --color-tertiary: #1BD171;
    --color-tertiary-900: #07381E;
    --color-tertiary-800: #0E6B3A;
    --color-tertiary-700: #149E55;
    --color-tertiary-600: #18B863;
    --color-tertiary-400: #8DE8B8;
    --color-tertiary-300: #A4EDC6;
    --color-tertiary-200: #D1F6E3;
    --color-tertiary-100: #E8FAF1;
  
    --color-quartenary: #EC3237;
    --color-quartenary-900: #3B0C0E;
    --color-quartenary-800: #6E171A;
    --color-quartenary-700: #A12226;
    --color-quartenary-600: #D42D31;
    --color-quartenary-400: #FA7D80;
    --color-quartenary-300: #FF9497;
    --color-quartenary-200: #FFCFD0;
    --color-quartenary-100: #FFF2F3;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  font-family: var(--font-family);
}

body {
  scroll-behavior: smooth;
  color: var(--color-text);
}

table, th, td {
  border: none;
  border-spacing: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
