.topcryptos__table {
    width: 100%;
}

.topcryptos__table__header {
    font-size: 14px;
    padding: 0 16px;
}

.topcryptos__table__data {
    padding: 24px 16px;
}

.topcryptos__table__viewmore {
    margin-top: 32px;
    color: var(--color-primary);
}

.accentbackground {
    background-color: var(--color-secundary-100);
}